Spotify_Digilab.json
[
    {
        "id": "spotify-lcd",
        "type": "tab",
        "label": "Spotify Digilab",
        "disabled": false,
        "info": ""
    },
    {
        "id": "btn-play",
        "type": "rpi-gpio in",
        "z": "spotify-lcd",
        "name": "S6 ▶ Play",
        "pin": "24",
        "intype": "tri",
        "debounce": "50",
        "read": false,
        "bcm": true,
        "x": 140,
        "y": 60,
        "wires": [
            [
                "cmd-play"
            ]
        ]
    },
    {
        "id": "btn-stop",
        "type": "rpi-gpio in",
        "z": "spotify-lcd",
        "name": "S5 ■ Pause",
        "pin": "23",
        "intype": "tri",
        "debounce": "50",
        "read": false,
        "bcm": true,
        "x": 140,
        "y": 140,
        "wires": [
            [
                "cmd-pause"
            ]
        ]
    },
    {
        "id": "btn-next",
        "type": "rpi-gpio in",
        "z": "spotify-lcd",
        "name": "S1 ▶▶ Next",
        "pin": "16",
        "intype": "tri",
        "debounce": "50",
        "read": false,
        "bcm": true,
        "x": 140,
        "y": 220,
        "wires": [
            [
                "cmd-next"
            ]
        ]
    },
    {
        "id": "btn-prev",
        "type": "rpi-gpio in",
        "z": "spotify-lcd",
        "name": "S2 ◀◀ Prev",
        "pin": "19",
        "intype": "tri",
        "debounce": "50",
        "read": false,
        "bcm": true,
        "x": 140,
        "y": 300,
        "wires": [
            [
                "cmd-prev"
            ]
        ]
    },
    {
        "id": "cmd-play",
        "type": "change",
        "z": "spotify-lcd",
        "name": "Setze Play",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "play",
                "tot": "str"
            }
        ],
        "x": 360,
        "y": 60,
        "wires": [
            [
                "exec-spotify"
            ]
        ]
    },
    {
        "id": "cmd-pause",
        "type": "change",
        "z": "spotify-lcd",
        "name": "Setze Pause",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "pause",
                "tot": "str"
            }
        ],
        "x": 360,
        "y": 140,
        "wires": [
            [
                "exec-spotify"
            ]
        ]
    },
    {
        "id": "cmd-next",
        "type": "change",
        "z": "spotify-lcd",
        "name": "Setze Next",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "next",
                "tot": "str"
            }
        ],
        "x": 360,
        "y": 220,
        "wires": [
            [
                "exec-spotify"
            ]
        ]
    },
    {
        "id": "cmd-prev",
        "type": "change",
        "z": "spotify-lcd",
        "name": "Setze Prev",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "prev",
                "tot": "str"
            }
        ],
        "x": 360,
        "y": 300,
        "wires": [
            [
                "exec-spotify"
            ]
        ]
    },
    {
        "id": "exec-spotify",
        "type": "exec",
        "z": "spotify-lcd",
        "command": "python3 /home/charly/digilab/spotify_control.py ",
        "addpay": "payload",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "name": "Spotify Control",
        "x": 600,
        "y": 180,
        "wires": [
            [],
            [
                "debug"
            ],
            []
        ]
    },
    {
        "id": "debug",
        "type": "debug",
        "z": "spotify-lcd",
        "name": "Spotify Debug",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 800,
        "y": 180,
        "wires": []
    },
    {
        "id": "lcd-display",
        "type": "exec",
        "z": "spotify-lcd",
        "command": "python3 /home/charly/digilab/spotify_control.py ",
        "addpay": "payload",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "name": "LCD ausgabe",
        "x": 600,
        "y": 260,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "forward-to-lcd",
        "type": "link in",
        "z": "spotify-lcd",
        "name": "→ Display",
        "links": [],
        "x": 420,
        "y": 340,
        "wires": [
            [
                "lcd-display"
            ]
        ]
    }
]